*.bak
*-bak
*.bck
*.dcm
*.cmp
*.log
fp-info-cache
*-PcbDoc-rescue.dcm
*-PcbDoc-rescue.lib
__pycache__/
.ipynb_checkpoints/
grb/
*.xml
*.net
*.csv
*.FCBak
_autosave*
*-backups
*.lck
*auto_saved_files*
fabrication-toolkit-options.json
production/
